<!DOCTYPE html>
<html>
<body>

<ul>
  <li><a href="#home"><b style="color:rgb(59, 107, 107)">Home</b></a></li>
  <li><a href="{%url 'contact'%}"><b style="color:rgb(59, 107, 107)">Contact</b></a></li>
  <li><a href="{%url 'signup'%}"><b style="color:rgb(59, 107, 107)">Signup</b></a></li>
  <li><a href="{%url 'logout'%}"><b style="color:rgb(59, 107, 107)">Logout</b></a></li>
  <li><a href="{%url 'about' %}"><b style="color:rgb(59, 107, 107)">About</b></a></li>
  <li><a href="{%url 'login' %}"><b style="color:rgb(59, 107, 107)">Login</b></a></li>
  <li><a href="{%url 'PostAndComment' %}"><b style="color:rgb(59, 107, 107)">PostAndComment</b></a></li>

</ul>

<p></p>

</body>
</html>
