<!DOCTYPE html>
<html>
<head>
<title>UserRegistration</title>
{% load static%}
<link rel="stylesheet" href={% static 'css/style.css'%} >
</head>
</body>
<div class="header">
  <h2>Blog Page</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Technology</h2>
      <h5> March 25, 2021</h5>
      <img src ="{% static 'images/download(1).jpeg'%}" alt="Image"/>
      <div class="fakeimg" style="height:200px;"></div>
      <p>Early blogs were simply manually updated components of common Websites. In 1995, the "Online Diary" on the Ty, Inc. Web site was produced and updated manually before any blogging programs were available.</p>
      <p>Posts were made to appear in reverse chronological order by manually updating text based HTML code using FTP software in real time several times a day. To users, this offered the appearance of a live diary that contained multiple new entries per day. </p>
    </div>
<form action="" method="POST">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="submit" >
<a href="{% url 'register' %}"><h3>For Registrations<h3></a>
</form>
</body>
</html>